<div class="container">

    <div class="login">

        <h2>Sign In</h2>

        <div *ngIf="isError" class="error">

            <i class='bx bxs-error'></i><span>User or password incorrect!</span>

        </div>

        <div *ngIf="isCorrect" class="right">

            <i class='bx bx-check'></i><span>Login aprovado!</span>

        </div>

        <div class="input">
            <i class='bx bx-envelope-open'></i>
            <input type="text" name="Email" id="Email" placeholder="E-mail" [(ngModel)]="user"/>
        </div>

        <div class="input">
            <i class='bx bx-lock-alt'></i>
            <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="pwd"/> <i class='bx bx-low-vision' ></i>
        </div>

            <div class="remember">
                <div>
                    <input type="checkbox" name="remember" id="remember">
                    <h4>Remember Me</h4>
                </div>
                <h4>Forgot Password?</h4>
            </div>
            <button (click)="login()">SIGN IN</button>
            <h3>Don't have an account? Create</h3>

        </div>
</div>
