@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');
*{

    font-family: 'Roboto', sans-serif;
}

.container {
    background: #6d10ee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background: #fff;
    width: 450px;
    height: 450px;
    box-shadow: 10px 10px 50px 10px rgb(41, 15, 127);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    box-shadow: 2px 2px 25px 2px rgb(62, 45, 119);
    width: 350px;
    height: 40px;
    border-radius: 20px;
    margin: 20px;
    padding-left: 11px;
    display: flex;
    align-items: center;
}

.input input{
    width: 270px;
    height: 30px;
    background-color: transparent;
    font-size: 16px;
    border: none;
    outline: none;
    margin-left: 5px;
}

i{
    font-size: 30px;
    color: rgb(41, 15, 127);
}

.remember {
    display: flex;
    width: 340px;
    align-items: center;
    justify-content: space-between;
}
.remember > div {
    display: flex;
    gap: 5px;
}

h3{
    font-size: 14px;
   font-weight: 100;
   color: #999;
}


h4 {
    font-size: 12px;
    font-weight: 200;
    color: #999;
}

button {
    width: 170px;
    height: 35px;
    margin: 30px;
    border-radius: 20px;
    background: linear-gradient(rgb(143, 127, 193),rgb(97, 61, 216) );
    box-shadow: 5px 5px 10px #00000068;
    border: 0;
    cursor: pointer;
}

