@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   text-decoration: none;
}

h3{
   font-size: 16px;
   font-weight: 600;
}

a{
   font-size: 13px;
   color: #6957f8;
}

h5{
   font-size: 15px;
}

:root {
   --bg-menu: #e2e9ef;

   --shadow: #696969;
   
}


.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr 380px;
}

 .user-info{
    display: grid;
    grid-template-rows: 150px 1fr;
 }

 .profile{
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    justify-content: center;
    padding: 10px;
 }
 .member{
    background: rgb(156, 156, 252);
 }
 /* .user-info .menu{
    background: rgb(76, 76, 157);

 } */

 .user-info .menu li{
   list-style: none;
   padding: 15px 20px;
 }

 .profile .img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: rgb(205, 157, 157);
 }
 
 .user-info .menu li i{
   font-size: 32px;
   color: #5a5959;;
   margin-right: 20px;
   
 }

 .user-info .menu li a{
   font-size: 16px;
   color: #5a5959;
   text-decoration: none;
   
 }

.content {
   display: grid;
   grid-template-rows: 80px 150px 1fr;
   padding: 0 20px;
}

.content .search{
   display: grid;
   grid-template-columns: 150px auto;
   justify-content: space-between;
   align-items: center;

}

.content .search .input{
   background: #f1f8ff;
   display: flex;
   height: 30px;
   width: 250px;
   align-items: center;
   justify-content: space-between;
   border-radius: 5px;
   
}

.content .search .input .icon{
   height: 100%;
   display: flex;
   align-items: center;
   width: 35px;
   cursor: pointer;
   background: #dd5b8b;
   justify-content: center;
   color: #fff;
   border-radius: 5px;
   font-size: 24px;
}


.content .search .input input{
   background: transparent;
   border: none;
   outline: none;
   margin-left: 15px;
   height: 30px;
   width: 160px;

}

li:hover{
      background: rgb(206, 205, 205);
      cursor: pointer;
}
.user, .user-info{
   background: #f7f8fa;
}

.content .info{
   grid-template-columns: 1fr 350px;
   display: grid;
   grid-template-columns: 2.7fr 1.3fr;
   gap: 27px;
   
}

.content .info .box1{
   background: #fadbbd;
}
.content .info .box2{
   background: #f0ecfe;
}

.content .adm{
   display: grid;
   grid-template-columns: 1.3fr 1fr;
   margin-top: 27px;
   gap: 27px;
}

.content .adm .task{
   background: blue;
}
.content .adm .team .title{
   align-items: center;
   background: #e5f7f0;
   display: flex;
   width: 500px;
   height: 50px;
   border-radius: 5px;
}
.content .adm .team .title .ball{
   background: #56aca6;
   display: flex;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   align-items: center;
   justify-content: center;
   margin: 0 15px 0 25px;
}
.content .adm .team .title .ball i{
color: white;
font-size: 22px;
}

.content .adm .team .title span{
   font-size: 18px;
   font-weight: 600;
}
.content .adm .team_act .title .ball {
   background: #d2e4e4;
   display: flex;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   align-items: center;
   justify-content: center;
   margin: 0 15px 0 25px;
 }
 .content .adm .team_act .title .ball i {
   color: #fff;
   font-size: 22px;
 }
 .container .user {
   display: grid;
   grid-template-rows: 70px 180px 110px 1fr;
   border-radius: 15px;
   padding: 0 25px;
 }
 
 .container .user .status {
   background: #f1f8ff;;
 }
 
 .user .icones {
   display: flex;
   justify-content: end;
   align-items: center;
   margin: 0 15px 0 25px;
 }
 .user .icones i {
   font-size: 25px;
   margin: 0 10px;
   color: #696969;
 }
 
 i:hover{
   transition: 0.5s;
   opacity: 0.7;
   cursor: pointer;
 }
 
 .user .perfil img {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .user .perfil{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
.user .perfil h5 {
  color: #dd5b8b;

}

.user .trofeu .box {
  background: #f0edff;
  width: 100%;
  height: 80px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  display: grid;
  justify-content: center;
}
.container .user .trofeu {
  display: grid;
  place-items: center;
  border-radius: 15px;
  background: #f0ecfe;
  margin-bottom: 25px;
}

.user .trofeu .box .ball {
  background: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
}
.user .trofeu .box .box-1 .ball i {
  font-size: 24px;
  color: #dd5b8b;
}
.user .trofeu .box .box-2 .ball i {
  font-size: 24px;
  color: #6758ef;
}

.container .user .trofeu .box .box-1,
.container .user .trofeu .box .box-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
 
}

.container .user .trofeu .box .box-1 {
  border-right: 1px solid #9c8f94;
}

.container .user .trofeu .box .box-1 .text{
   color:  #dd5b8b;
 }
.container .user .trofeu .box .box-2 .text{
   color:  #6758ef;
 }

.container .user .status .user-title{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 15px 0;
}

.container .user .status .task-list{
 background: #dd5b8b;
 border-radius: 8px;
 color: #fff;
 display: flex;
 align-items: center;
 padding: 15px;
 gap:15px;
 margin-bottom: 15px;
 height: 40px;

}
.container .user .status .task-list .number{
 width: 35px;
 height: 35px;
 background: #ffffff1f;
 display: grid;
 place-items: center;
 font-size: 18px;
 border-radius: 8px;
}

.container .user .status .task-list:nth-child(3){
   background: #6758ef;

}

.container .user .status .recent-task{
   display: flex;
   justify-content: space-between;
}

.container .user .status .recent-task .numero{
   display: flex;
   align-items: center;
   gap: 10px;
   margin: 15px;
}

.container .user .status .recent-task .ball{
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: green;
}
.container .user .status .recent-task .time{
   font-size: 12px;
   color: #6758ef;
   font-weight: 400;
}
.container .content .adm  .team .box {
   display: grid;
   background: #f8fafd;
   margin: 10px 0 10px 0;
   grid-template-columns: 1fr 1fr;
}

.container .content .adm .team .box .member-1 img{
   width: 30px;
   height: 30px;
   margin-right: 15px;
}
.container .content .adm .team .box .member-1{
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
   margin: 0 15px 0 25px;
   padding: 15px;
}

.container .content .adm .box .member-1 h4{
   font-size: 14px;
   font-weight: 700;
}
.container .content .adm .box .member-1 h5{
   font-weight: 400;
}
.container .content .adm .team .detail-at img{
   width: 30px;
   height: 30px;
   margin-right: 15px;
}

.container .content .adm .team .detail-at{
   display: grid;
   grid-template-columns: auto 1fr;
}

.container .content .adm  .team .detail-at{
   display: grid;
   background: #f8fafd;
   margin: 10px 0 10px 0;
   grid-template-columns: 1fr 1fr;
}