<div class="container">
    <div class="user-info">
        <div class="profile">

            <div class="img"></div>
            <h2>Olá, {{userr}}</h2>

        </div>

        <div class="menu">
            <ul>
                <li>
                    <i class='bx bxs-dashboard'></i>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <i class='bx bx-user'></i>
                    <a href="#">Perfil</a>
                </li>
                <li>
                    <i class='bx bx-list-ul'></i>
                    <a href="#">Inscrições</a>
                </li>
                <li>
                    <i class='bx bxs-pin'></i>
                    <a href="#">Marcações</a>
                </li>
                <li>
                    <i class='bx bx-plus'></i>
                    <a href="#">Add Marcação</a>
                </li>
            </ul>

        </div>

    </div>

    <div class="content">

       
        <div class="search">

            <div class="date">
                <h4>Dashboard</h4>
                <h4>{{currentDate | date:'dd/MM/yyyy'}}</h4>
            </div>

            <div class="input">
                <input type="text" name="pesq" id="pesq" placeholder="Pesquisar..."/>
                <div class="icon"><i class='bx bx-search-alt' ></i></div>
            </div>

        </div>

        <div class="info">
            <div class="box1"></div>
            <div class="box2"></div>
        </div>
        <div class="adm">
            <div class="team">

                <div class="title">
                    <div class="ball">
                        <i class='bx bx-plus'></i>
                    </div>
                    <span>Membros do Time</span>
                </div>

               <div class="box">
                <div class="member-1">
                  <img src="./assets/avatar.png" alt="">

                  <div class="info-member">
                    <h4>Fulano fofo</h4>
                    <h5>Professor</h5>
                  </div>
                </div>

                <div class="member-1">
                  <img src="./assets/avatar.png" alt="">

                  <div class="info-member">
                    <h4>Fulano fofo</h4>
                    <h5>Professor</h5>
                  </div>
                 </div>

                 <div class="member-1">
                  <img src="./assets/avatar.png" alt="">

                  <div class="info-member">
                    <h4>Fulano fofo</h4>
                    <h5>Professor</h5>
                  </div>
                </div>

                <div class="member-1">
                  <img src="./assets/avatar.png" alt="">

                  <div class="info-member">
                    <h4>Fulano fofo</h4>
                    <h5>Professor</h5>
                  </div>
                </div>

                <div class="member-1">
                  <img src="./assets/avatar.png" alt="">

                  <div class="info-member">
                    <h4>Fulano fofo</h4>
                    <h5>Professor</h5>
                  </div>
                </div>

                <div class="member-1">
                  <img src="./assets/avatar.png" alt="">

                  <div class="info-member">
                    <h4>Fulano fofo</h4>
                    <h5>Professor</h5>
                  </div>
                </div>

              </div>
                

              <div class="title">
                    <div class="ball">
                        <i class='bx bx-plus'></i>
                    </div>
                    <span>Atividades</span>
                </div>

                <div class="detail-at">
                  <div class="member-1">
                    <img src="./assets/avatar.png" alt="">
  
                    <div class="info-member">
                      <h4>Fulano fofo</h4>
                      <h5>Professor</h5>
                    </div>
                  </div>
                </div>

            </div>

            <div class="new_task">
              
              <div class="title">
                <div class="ball">
                    <i class='bx bx-plus'></i>
                </div>
                <span>Adicionar Nova Tarefa</span>
            </div>
            </div>
       </div>
  </div>

  <div class="user">
    <div class="icones">
      <i class='bx bxs-bell'></i>
      <i class='bx bxs-cog' ></i>
      <i class='bx bxs-user' ></i>
    </div>
    <div class="perfil">
      <div class="ball">
        <img src="./assets/avatar.png" alt="">
      </div>
      <h3>Rafaela</h3>
      <H5>rafaelafranco096@gmail.com</H5>
    </div>
    <div class="trofeu">

    <div class="box">
        <div class="box-1">

          <div class="ball">
            <i class="bx bxs-trophy"></i>
          </div>

          <div class="text">
            <h5>20</h5>
            <h5>Conquistas</h5>
          </div>

        </div>

        <div class="box-2">
          <div class="ball">
            <i class="bx bx-user"></i>
          </div>

          <div class="text">
            <h5>10</h5>
            <h5>Pontos</h5>
          </div>

        </div>
      </div>
    </div>

    <div class="status">
      <div class="user-title">
        <h3>Tarefas em andamento</h3>
        <a href="#">Mostrar todos</a>
      </div>

      <div class="task-list">
        <div class="number">
          <span> 01 </span>
        </div>

        <div class="task-info">
          <h4>Criar a grid do login</h4>
          <h5>Tempo restante: 1d</h5>
        </div>
      </div>

      <div class="task-list">
        <div class="number">
          <span> 02 </span>
        </div>

        <div class="task-info">
          <h4>Criar a grid do login</h4>
          <h5>Tempo restante: 1d</h5>
        </div>
      </div>




      <div class="user-title">
        <h3>Tarefas recentes</h3>
        <a href="#">Mostrar todos</a>
      </div>

      <div class="recent-task">
        <div class="numero">
          <div class="ball"></div>
          <h5>Cadastrar usuario</h5>
        </div>

        <h5 class="time">3d</h5>

      </div>
      <div class="recent-task">
        <div class="numero">
          <div class="ball"></div>
          <h5>Cadastrar usuario</h5>
        </div>

        <h5 class="time">3d</h5>

      </div>
      <div class="recent-task">
        <div class="numero">
          <div class="ball"></div>
          <h5>Cadastrar usuario</h5>
        </div>

        <h5 class="time">3d</h5>

      </div>
      
      <div class="recent-task">
        <div class="numero">
          <div class="ball"></div>
          <h5>Cadastrar usuario</h5>
        </div>

        <h5 class="time">3d</h5>

      </div>


    </div>
  </div>
</div>

