<div class="container">
    <div class="header"><i class='bx bx-heart' ></i> <h1>Portifólio</h1> <i class='bx bx-heart' ></i></div>
        <div class="div2">
            <h4>Meu nome é Rafaela Virginio Franco, tenho 18 anos, estudo no Instituto Federal, pretendo seguir na area de desing, adoro batata e hello kitty. <br>
                <br>
                Meu nome é Luiz Felipe Bolognin Menardi , tenho 17 anos, estudo no Instituto Federal, pretendo seguir na area de programação, adoro pepino e jogos. </h4>
        </div>
        <div class="div1"><img src="/assets/hello.png" class="img"></div>
        <div class="div1"><img src="/assets/hello.png" class="img"></div>
        <div class="div2">
            <h4> Nós fizemos este trabalho para a disciplina de frameworks, espero que gostem! ❤️</h4>
        </div>
    <div class="footer"> <i class='bx bxl-github'></i><h3>Acesse nosso GitHub:</h3>
      
 
    <h3>   @Lfbolognin e
        @Raffaela09
    </h3>
        
    </div>


</div>
