<div class="container">
    <div class="header">
       <h1>Ups!</h1>
    </div>
    <div class="meio">
        <img src="/assets/404.png">
    </div>
    <div class="meio2">
        <h1>PÁGINA NÃO ENCONTRADA</h1>
        <h3>Desculpe, não conseguimos achar a página que você está procurando. Se você acha que há algo errado, nos relate o problema.</h3>
    </div>
    <div class="footer">
        <button class="button2">Volte para o inicio</button>
        <button class="button1">Contate-nos</button>
    </div>
   
</div>


